# Activity 6.1 - Code conversion and `dplyr` practice

In [ ]:
library('dplyr')

In [ ]:
surveys <- read.csv('https://github.com/WSU-DataScience/DSCI_210_R_notebooks/raw/main/data/portal_data_joined.csv')
head(surveys)

## Problem 1


Consider the following code that uses piping:

In [ ]:
surveys %>%
  filter(weight < 5) %>%
  select(species_id, sex, weight)

### A. Write an imperative version of this code.

In [ ]:
# Your code here
surveys2 <- filter(surveys, weight < 5)
surveys3 <- select(surveys2, species_id, sex, weight)

### B. Write a functional version of this code.

In [ ]:
# Your code here

Now consider the following imperative code:

In [ ]:
x <- rnorm(100)
x_rounded <- round(x, 1)
x_rounded_sorted <- sort(x_rounded)
x_rounded_sorted_smallest10 <- head(x_rounded_sorted, 10)
sum_x_rounded_sorted_smallest10 <- sum(x_rounded_sorted_smallest10)

### C. Write a functional version of this code.

In [ ]:
# Your code here

### D. Write a version of this code that uses piping.

In [ ]:
# Your code here

## Problem 2
  Create a new data frame from the `surveys` data that meets the following criteria: 
  
- The data frame contains only the **`species_id`** column and a new column named  **`hindfoot_half`**.
- The new column **`'hindfoot_half`** should be created so that its values are half the **`hindfoot_length`** values.
- Finally, all rows in this data frame should have values of `hindfoot_half` that are less than 30.

Hint: think about how the commands should be ordered to produce this data frame!

In [23]:
# Your code here

   species_id hindfoot_half
1  NL         16.0
2  NL         15.5
3  NL         16.0
4  NL         17.0
5  NL         16.0
6  NL         16.5
7  NL         16.0
8  NL         16.0
9  NL         16.5
10 NL         15.0
11 NL         16.5
12 NL         15.5
13 NL         16.5
14 NL         15.0
15 NL         17.0
16 NL         17.0
17 NL         16.0
18 NL         17.0
19 NL         16.5
20 NL         15.5