## Reading in the data

In [1]:
daily_rates <- read.csv('https://github.com/WSU-DataScience/DSCI_210_R_notebooks/raw/main/data/daily_rates.csv')
head(daily_rates)

  VID Passengers
1 34  12
2 46  12
3 51   7
4 52   5
5 53   5
6 55   7
  Vehicle_Info                                                    Daily_Rate
1 034 12 passenger 2003 Chev -  *Air conditioning does not work * 23
2 046 12 passenger 2004 Chevrolet Van                             23
3 051 7 passenger 2005 Dodge Caravan                              23
4 052   5 passenger 2005 Chevrolet Impala                         17
5 053 5 passenger 2005 Chevrolet Impala                           17
6 055 7 passenger 2005 Grand Caravan with hitch                   23

In [2]:
vehicle_request <- read.csv('https://github.com/WSU-DataScience/DSCI_210_R_notebooks/raw/main/data/vehicle_requests.csv')
head(vehicle_request)

  Depart             Return              Year Length_days VID Passengers
1 04/30/2009 2:00 PM 04/30/2009 10:00 PM 2009 0.33        52   5
2 04/30/2009 7:00 AM 05/01/2009 4:00 PM  2009 1.38        63   5
3 04/30/2009 1:00 PM 05/01/2009 11:00 PM 2009 1.42        66   5
4 04/30/2009 1:45 PM 04/30/2009 3:00 PM  2009 0.05        34  12
5 04/30/2009 6:00 AM 04/30/2009 4:00 PM  2009 0.42        46  12
6 05/01/2009 5:00 AM 05/01/2009 7:00 PM  2009 0.58        52   5